<!DOCTYPE html>
<html lang="bg">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/base_layout_style.css">
    <meta name="keywords" content="meetify, programming, meet, people, work">
    <meta name="application-name" content="meetify">
    <meta name="authors" content="hristo todorov, yanis yakimov">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Meetify</title>
</head>
<body>
<header>
<a href="#default" class="logo">MEETIFY</a>
  <div class="header-right">
    <a href="">НАЧАЛО</a>
    <a href="/login" class="login-register">ВХОД/РЕГИСТРАЦИЯ</a>
  </div>
</header>
<div class="content">
<div class="bs">
</div>

{% block content %}
{% endblock %}
</div>
<footer>
<div class="footer-bs">
</div>
<p>Copyright &copy; 2019 | Изработен от Христо Тодоров и Янис Якимов | Проект №560 за НОИТ</p>
</footer>
</body>
</html>