{% extends 'base_layout.html' %}
{% block content %}
<div class="headerbg">
    <div class="trans">
        <div id="bs">
        </div>
        <h1>MEETIFY</h1>
        <h2>Запознай се с нови хора</h2>
        <div class="center-btn">
        <a href="/login">
        <button class="platform-btn" name="platform-btn">Към платформата</button>
        </a>
        </div>
    </div>
</div>
<div class="info">

</div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>   
  <script src="/static/css/js/scroll-script.js"></script>
                                                                                  
{% endblock %}